doctype html
html
  head
    title preferences - teddit
    include includes/head.pug
  body(class=""+ user_preferences.theme +"")
    include includes/topbar.pug
    .container
      .content
        h1 Preferences
        form(action="/saveprefs", method="POST")
          legend Display
          label(for="theme") Theme: 
            select(id="theme", name="theme")
              if(!user_preferences.theme || user_preferences.theme == '')
                option(value="", selected="selected") White
                option(value="dark") Dark
              if(user_preferences.theme === 'dark')
                option(value="") White
                option(value="dark", selected="selected") Dark
          p(class="notice") Preferences are stored client-side using cookies without any personal information.
          input(type="submit", value="Save preferences")
          a(href="/resetprefs", class="btn") Reset preferences
