doctype html
html
  head
    title preferences - teddit
    include includes/head.pug
  body
    include includes/topbar.pug
    .container
      .content
        h1 Preferences
        p nothing here yet
