doctype html
html
  head
    title wiki /r/#{subreddit}
    meta(property='og:title', content='wiki /r/' + subreddit)
    include includes/meta_default.pug
    include includes/head.pug
  body(class=""+ (user_preferences.theme === 'auto' ? 'dark' : user_preferences.theme) + "")
    include includes/topbar.pug
    if json === null
      h1 Error occured
      if error
        p Error: #{JSON.stringify(json.error_data)}
    else
      header
        a(href="/", class="main")
          h1 teddit
        .bottom
          a(href="/r/" + subreddit + "", class="subreddit")
            h2 #{subreddit}
          ul.tabmenu
            li
              a(href="/r/" + subreddit) hot
            li
              a(href="/r/" + subreddit + "/new") new
            li
              a(href="/r/" + subreddit + "/rising") rising
            li
              a(href="/r/" + subreddit + "/controversial") controversial
            li
              a(href="/r/" + subreddit + "/top") top
            li(class="active")
              a(href="/r/" + subreddit + "/wiki") wiki
      .wiki-page.wiki-content
        != content_html
    include includes/footer.pug
